// VARIABLE 
@import 'variable';

// Ipad Pro
@media screen and (max-width: 1400px) {
  body {
    max-width: 100%;
    margin: auto;
    padding: 0 12px 0 12px;

    #landing {
      max-width: 100%;
      margin: auto;

      .navbar {
        padding: 0 15px 0 15px;
      }
    }

    #footer-section {
      .container {
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        grid-row-gap: 5rem;
      }
    }
  }
}

// Ipad Pro
@media screen and (max-width: 1000px) {
  body {
    #landing {
      .showcase {
        .showcase-item {
          grid-template-columns: 1fr;
          grid-gap: none;
          height: 100vh;
          text-align: center;

          .showcase-info {
            margin-top: 3rem;

            .btn {
              display: inline-block;
              margin: auto;
            }
          }
        }
      }
    }

    main {
      #pricing-cards {
        margin-bottom: 7rem;

        .container {
          grid-template-columns: 1fr;

          .card-item {
            box-shadow: unset;
          }
        }
      }

      #company-section {
        .container {
          .company-item {
            grid-template-columns: 1fr;
            text-align: center;

            &:nth-child(2) {
              margin-bottom: 5rem;
            }
          }
        }
      }
    }

    #footer-section {
      .container {
        grid-template-columns: repeat(2, 1fr);

        .footer-info:last-child {
          grid-column: 1 / -1;

          h2 {
            padding-bottom: 3rem;
          }
        }
      }
    }
  }
}


// // Ipad Pro
@media screen and (max-width: 750px) {
  body {
    main {
      #contact-section {
        .container {
          .contact-box {
            h1 {
              text-align: center;
              font-size: 1.3rem;
            }
          }
        }
      }
    }

    #footer-section {
      .container {
        grid-template-columns: 1fr;
      }
    }

    .footer-buttom {
      flex-direction: column;

      .list-items {
        margin-bottom: 2.5rem;
      }
    }

  }
}

@media screen and (max-width: 450px) {
  body {
    main {
      #contact-section {
        .container {
          .contact-box {
            .number {
              grid-template-columns: 1fr;
            }

            .btn-send {
              display: inline-block;
              margin: auto;
            }
          }
        }
      }
    }
  }
}