.main-container, body #navbar .container, #home .home-container, #pricing-cards .container, #company-section .container, #footer-section .container, #footer-section .footer-buttom {
  max-width: 1200px;
  margin: auto;
}

.logo-style, body #navbar .container .logo a, #footer-section .container .footer-logo h1 {
  font-size: 28px;
  font-weight: 800;
  color: #16171a;
}

.btn-primary, body #navbar .container ul .btn, #home .home-container .home-info .btn, #contact-section .container .contact-box .email-address .btn-class .btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#314755), color-stop(51%, #7188f9), to(#314755));
  background-image: linear-gradient(to right, #314755 0%, #7188f9 51%, #314755 100%);
  font-size: 17px;
  font-weight: 500;
  padding: 17px 45px;
  text-align: center;
  background-size: 200% auto;
  color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0 0 20px #eee;
          box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
  outline: none;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn-primary:hover, body #navbar .container ul .btn:hover, #home .home-container .home-info .btn:hover, #contact-section .container .contact-box .email-address .btn-class .btn:hover {
  background-position: right center;
  background-color: #7386e4;
}

.grid, body #navbar .container, #company-section .container .company-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex, #contact-section .container, #footer-section .container .footer-info .icons-items .icon-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a, body #navbar .container ul li a {
  color: #83868b;
  text-decoration: none;
}

li {
  list-style: none;
}

a, body #navbar .container ul li a {
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
}

body #navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}

body #navbar .container {
  padding: 15px 0 15px 15px;
}

body #navbar .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #navbar .container ul li a {
  font-size: 17px;
  font-weight: 400;
  padding: 10px;
}

body #navbar .container ul li a:hover {
  color: #16171a;
}

body #navbar .container ul .btn {
  padding: 15px 31px;
}

#home .home-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.3fr;
      grid-template-columns: 1fr 1.3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1rem;
  height: 100vh;
}

#home .home-container .home-info h1 {
  color: #16171a;
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

#home .home-container .home-info p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  color: #4e5259;
}

#home .home-container .showcase-image img {
  width: 100%;
}

#pricing-cards h1 {
  color: #16171a;
  font-size: 2.50rem;
  text-align: center;
  margin: 1rem 0 3rem 0;
}

#pricing-cards .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

#pricing-cards .container .card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

#pricing-cards .container .card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#pricing-cards .container .card img {
  width: 100%;
}

#pricing-cards .container .card h2 {
  padding: 25px 20px 10px 20px;
  font-size: 1.2rem;
  color: #16171a;
}

#pricing-cards .container .card p {
  padding: 10px 20px 0 20px;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #4e5259;
}

#pricing-cards .container .card .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

#pricing-cards .container .card .card-container .time-length .para p {
  padding: 0 !important;
  color: #4e5259;
  font-size: 15px;
}

#pricing-cards .container .card .card-container .time-length .para p i {
  color: #666666;
  font-size: 1rem;
}

#pricing-cards .container .card .card-container .price p {
  padding: 0 !important;
  font-size: 15px;
  font-weight: 800;
  color: #4e5259;
}

#company-section {
  margin-top: 8%;
}

#company-section .container .company-item {
  grid-gap: 5rem;
}

#company-section .container .company-item .company-info h1 {
  color: #16171a;
  font-size: 2.2rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

#company-section .container .company-item .company-info p {
  color: #4e5259;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

#company-section .container .company-item .company-image img {
  width: 100%;
  height: 550px;
}

#contact-section {
  background: #f4f5f6;
  margin: 5rem 0 10rem 0;
}

#contact-section .container {
  height: 40vh;
}

#contact-section .container .contact-box h1 {
  color: #16171a;
  font-size: 2.4rem;
}

#contact-section .container .contact-box p {
  color: #4e5259;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 1.8rem;
  padding-bottom: 3rem;
}

#contact-section .container .contact-box .email-address {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr auto;
      grid-template-columns: 3fr auto;
  grid-gap: 15px;
}

#contact-section .container .contact-box .email-address .input-field i {
  position: absolute;
  margin-top: 1.2rem;
  font-size: 1rem;
  padding-left: 1.5rem;
  color: #c3c3c3;
}

#contact-section .container .contact-box .email-address .input-field input {
  width: 100%;
  padding: 20px 55px;
  background: white;
  border: none;
  border-radius: 7px;
  outline: none;
}

#contact-section .container .contact-box .email-address .input-field input::-webkit-input-placeholder {
  color: #707070;
  font-size: .9rem;
}

#contact-section .container .contact-box .email-address .input-field input:-ms-input-placeholder {
  color: #707070;
  font-size: .9rem;
}

#contact-section .container .contact-box .email-address .input-field input::-ms-input-placeholder {
  color: #707070;
  font-size: .9rem;
}

#contact-section .container .contact-box .email-address .input-field input::placeholder {
  color: #707070;
  font-size: .9rem;
}

#footer-section .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 4rem;
}

#footer-section .container .footer-logo h1 {
  margin-bottom: 1.5rem;
}

#footer-section .container .footer-logo p {
  margin-bottom: 1rem;
  color: #83868b;
}

#footer-section .container .footer-logo a, #footer-section body #navbar .container .footer-logo ul li a, body #navbar #footer-section .container .footer-logo ul li a, #footer-section body #navbar .container ul li .footer-logo a, body #navbar #footer-section .container ul li .footer-logo a {
  -webkit-transition: .3s;
  transition: .3s;
}

#footer-section .container .footer-logo a:hover {
  color: #000000;
}

#footer-section .container .footer-logo a i {
  color: #83868b;
}

#footer-section .container .footer-info h2 {
  color: #16171a;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

#footer-section .container .footer-info li {
  list-style: none;
  font-size: 1rem;
  margin-bottom: 20px;
}

#footer-section .container .footer-info li a {
  color: #83868b;
  -webkit-transition: .3s;
  transition: .3s;
}

#footer-section .container .footer-info li a:hover {
  color: #3f3c3c;
  text-decoration: underline;
}

#footer-section .container .footer-info .icons-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer-section .container .footer-info .icons-items .icon-bg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #eaebed;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

#footer-section .container .footer-info .icons-items .icon-bg:hover {
  background-color: #eeeeee;
}

#footer-section .container .footer-info .icons-items .icon-bg i {
  font-size: 1.2rem;
}

#footer-section .container .footer-info .icons-items .icon-bg:nth-child(1) {
  color: #068ad3;
}

#footer-section .container .footer-info .icons-items .icon-bg:nth-child(2) {
  color: #f34a38;
}

#footer-section .container .footer-info .icons-items .icon-bg:nth-child(3) {
  color: #55adee;
}

#footer-section .container .footer-info .icons-items .icon-bg:nth-child(4) {
  color: #da1657;
}

#footer-section .footer-buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 0 3rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer-section .footer-buttom .list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer-section .footer-buttom .list-items .item {
  margin-right: 20px;
}

#footer-section .footer-buttom .list-items .item:nth-child(3) {
  margin-right: 0px;
}

#footer-section .footer-buttom .list-items .item li a {
  font-size: 0.8rem;
  color: #4e5259;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 15px;
}

#footer-section .footer-buttom .list-items .item li a:hover {
  text-decoration: underline;
  color: #7188f9;
}

#footer-section .footer-buttom .right-side p {
  color: #4e5259;
  font-size: 0.9rem;
}
/*# sourceMappingURL=style.css.map */