// SASS VARIABLE USE
$main-fonts: 'Montserrat', sans-serif;
$primary-color: #fff;
$nav-background-color: #ffffff;
$bg-primary: #7188f9;
$a-text-color: #83868b;
$h1-font-size: 3rem;
$h2-font-size: 3rem;
$h3-font-size: 3rem;
$main-p-font-size: 1rem;
$p-font-size: 1rem;
$a-font-size: 1rem;
$main-heading-color: #16171a;
$main-paragraph-color: #4e5259;